streamlit==1.29.0
streamlit-drawable-canvas==0.9.3
pdf2image
pillow
pytesseract
PyPDF2
pdf2docx
python-docx
fpdf2
docx2pdf
opencv-python-headless
numpy
streamlit
streamlit-drawable-canvas
pdf2image
image2pdf
